@font-face {
    font-family: 'MyFont';
    src: url('./assets/PlaywriteDEGrund-VariableFont_wght.ttf');
    font-weight: 600;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'MyFont';
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


.main-title{

    margin: 50px auto;
    text-align: center;
}

.main-body{
    border: 1px black solid;
    width: 50%;
    margin: 10px auto;
    min-height: 50vh;
    display: flex;
    min-width: 600px;
}

.dashboard{
    display: flex;
    height: 70vh;
    flex-wrap: 0;
    width: 100%;
    text-align: center;
}

.all-projects-view{
    min-width: 30%;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    flex-wrap: 0;
    flex: 1;
    gap: 10px;
    background-color: #a3e635;
    
}

.current-todos-view{
    min-width: 70%;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    flex-wrap: 0;
    flex: 1;
    gap: 10px;
    background-color: #d9f99d;
    align-items: center;
}

.current-todos-view-items,
.all-projects-view-items{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.all-projects-view-items{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.all-projects-view > p,
.current-todos-view > p {
    font-size: 1.7rem;
    margin: 10px;
    font-weight: bold;
    border-bottom: 2px solid darkgrey;
}

.project{
    width: 100%;
    padding: 10px 3px;
}

.selected-project{
    background-color: #84cc16;
}


.todo{
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px #3f6212 solid;
}

.todo > * {
    margin: 15px 0 ;
}


.todo-priority{
    width: 10%;
}

.todo-priority-3{
    background-color: red;
    color: red;
    padding:0 10px;
}

.todo-title{
    width: 40%;
    text-align: start;
}


input[type="checkbox"] {
    width: 20px;    
    height: 100%;
    accent-color: green;
  }
  
.delete-todo-button{
    margin-left: auto;
    margin-right: 10px;
    color: red;
  }


.add-button{
    border: 0.5px solid white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: white;
    font-size: 2rem;
    align-self: center;
    border-radius: 50%;
    text-align: center;
    margin-top: 10px;
}

.add-button:hover{
    background-color: #3f6212;
    border: 0.5px solid #3f6212;
    color: white;
}